---
import { CardPlayButton } from "./CardPlayButton.jsx";

import type { Playlist } from "@/lib/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<article
  class="group relative hover:bg-[#252525] bg-[#181818] transition-all duration-300"
>
  <div
    class=`absolute right-6 top-[40%] translate-y-1 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10`
  >
    <CardPlayButton id={id} client:visible />
  </div>

  <a
    href={`/playlist/${id}`}
    class="playlist-item flex relative p-4 pb-2 overflow-hidden
  rounded-md w-44 flex-col
    transition:name=`playlist ${id} box` min-h-[265px]"
  >
    <picture class="aspect-square w-full h-auto flex-none mb-4">
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistsString}`}
        class="w-full h-full object-cover rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>
    <div class="flex flex-auto flex-col px-1">
      <h4
        class="text-white text-base mb-1 truncate"
        transition:name=`playlist ${playlist?.id} title`
      >
        {title}
      </h4>
      <span
        class="text-sm text-gray-400"
        transition:name=`playlist ${playlist?.id} artists`
      >
        {artistsString}
      </span>
    </div>
  </a>
</article>
